<div class="container my-3">
  {{#each ideas}}
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">{{this.title}}</h4>
        <p>{{this.detail}}</p>
        <div class="d-flex justify-content-between flex-wrap">
          <div>
            <button onclick="editIdea(this)" id="{{this._id}}" class="btn btn-dark">Edit</button>
            <button onclick="deleteIdea(this)" id="{{this._id}}" class="btn btn-danger">Delete</button>
          </div>
          <div class="align-self-center">
            <p><b>Added:</b> {{this.updatedAt}}</p>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <h5 class="my-2">No Video Idea Listed.</h5>
  {{/each}}
</div>

<script>
  function editIdea(elm) {
    location.href = "idea/edit/" + elm.id;
  }

  function deleteIdea(elm) {
    fetch("https://vidjot101.herokuapp.com/idea/" + elm.id, {
      method: 'delete'
    })
    .then(response => response.json())
    .then((data) => {
      showAlert('alert-success', 'Successfully deleted the Idea.');
      location.reload();
    })
    .catch(e => showAlert('alert-warning', 'Problem deleting the Idea.'));
  }
</script>